[(category:"Category1",paths:["gabriele_padovani_thesis.pdf","ThesisMarchioroNicola.pdf"]),(category:"Category2",paths:[]),(category:"Category3",paths:[]),(category:"Ciao",paths:["gabriele_padovani_thesis.pdf"]),(category:"Mmma",paths:["ThesisMarchioroNicola.pdf"]),(category:"Lele",paths:[]),(category:"",paths:[]),(category:"ciao",paths:["gabriele_padovani_thesis.pdf"]),(category:"fsvwsvdsvbfbv",paths:[]),(category:"Mammmamaaa",paths:[])]