[(content:"gefef",open:true,done:true,children:[(content:"Nadiaaaa",open:true,done:true,children:[(content:"D3r3r",open:false,done:false,children:[])])]),(content:"Mamma",open:false,done:true,children:[])]