[(file_name:"ThesisMarchioroNicola.pdf",title:"ThesisMarchioroNicola.pdf",authors:"",categories:[]),(file_name:"Attention_W_Wu_.pdf",title:"Attention_W_Wu_.pdf",authors:"",categories:["giorgio","ciso madia","ciqo mamma"]),(file_name:"gabriele_padovani_thesis.pdf",title:"gabriele_padovani_thesis.pdf",authors:"",categories:[]),(file_name:"Foundation Models for Generalist Geospatial Artificial Intelligence.pdf",title:"Foundation Models for Generalist Geospatial Artificial Intelligence.pdf",authors:"",categories:[])]