[(file_name:"ThesisMarchioroNicola.pdf",title:"Paper 1",categories:["giorgio"]),(file_name:"gabriele_padovani_thesis.pdf",title:"Paper 2",categories:[]),(file_name:"",title:"",categories:[]),(file_name:"",title:"",categories:[]),(file_name:"",title:"",categories:[])]